.page-number {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.selected-page {
    border-color: blue;
}

.first {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.last {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.middle {
    border-radius: 0px;
}