.title {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: 0.5em;
    font-family: fantasy
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2em;
    }
}